ion-item {
  border: 1px solid #e8e5e5;
  border-left-width: 0;
  border-right-width: 0;
  background-color: rgba(227, 227, 227, 0) !important;
}

poll-post {
  display: block;
  width: 100%;
  border-radius: 2px;
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

poll-post span.top-header-label {
  background-color: #8BC34A;
}

poll-post .right-container {
  padding-right: 15px !important;
}

poll-post,
youtube-post-component {
  .question {
    margin: 0 !important;
    font-size: 15px;
  }

  .poll-background {
    background-color: rgba(227, 227, 227, 0.21) !important;
    padding: 10px 10px 20px;

    ion-list {
      margin-bottom: 0 !important;
    }

    ion-item.item {
      padding-left: 10px !important;
    }

    ion-label.label {
      margin: 10px 0 !important;
      font-size: 1.5rem;
    }
  }

  .bar {
    background-color: #d8d8d8;
    text-align: center;
    display: block;
    width: 100%;
    height: 25px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 3px 2px rgba(0,0,0,0.15);
    margin-top: 10px;
  }

  .no-votes {
    background-color: #d8d8d8 !important;
    color: black !important;
    display: block;
    width: 100%;
    font-size: 1.2em;
    padding-top: 2px;
    height: 25px;
  }

  .bar div {
    display: inline-block;
    height: 100%;
    color: white;
    overflow: hidden;
  }
  $blue: #66a1d0;
  $orange: #40a6f7;
  $green: #1b83d4;
  $merun: #125c96;
  $colors: $blue,$orange,$green,$merun;
  @each $color in $colors {
    $i: index($colors, $color);

    .bar div:nth-child(#{$i}) {
      background-color: $color;
      float: left;
    }

    #vote_option#{$i} {
      font-weight: bold;
      color: $color;
    }

    #vote_bar#{$i}::-webkit-progress-value {
      background-color: $color;
    }
  }

  .votes {
    font-weight: bolder;
    width: 100% !important;
    display: block;
    color: white;
    text-align: center;
    padding-top: 4px;
    overflow: hidden;
  }

  progress {
    background-color: #f4f4f4;
    border: 0;
    width: 75%;
    margin-right: 10px;
    height: 10px;
    border-radius: 5px;
    overflow: hidden;
  }

  progress::-webkit-progress-bar {
    background-color: #e5e5e5;
  }

  .icon-button-container {
    height: 60px !important;
    width: 60px !important;
  }

  ion-list.poll-background {
    margin: -1px 0 2px 0 !important;
  }

  .left-container {
    padding: 10px !important;
    margin-top: 15px;
    width: 30% !important;
  }

  .right-container {
    width: 70%;
  }

  p {
    text-overflow: ellipsis;
  }
}
