<ion-header>
  <ion-navbar color="primary" *ngIf="hideSearchBar">
    <ion-buttons left>
      <button ion-button menuToggle="left">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end (click)="toggleNavBar()">
      <button ion-button icon-only>
      <ion-icon name="search"></ion-icon>
    </button>
    </ion-buttons>
    <ion-title>Events</ion-title>
  </ion-navbar>

  <ion-navbar hideBackButton="true" color="primary" *ngIf="!hideSearchBar">
    <ion-searchbar [(ngModel)]="query" autocomplete="on" showCancelButton="true" (ionInput)="onInput($event)" (ionClear)="onIonClear()" placeholder="Search" color="primary" debounce="500" #searchBar></ion-searchbar>
  </ion-navbar>

  <ion-toolbar>
    <ion-segment [(ngModel)]="segment" color="primary" (ionChange)="updateList($event)">
      <ion-segment-button value="live">
        Upcoming
      </ion-segment-button>
      <ion-segment-button value="past">
        PAST
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="init($event)" [enabled]="hideSearchBar">
    <ion-refresher-content pullingIcon="arrow-round-down" pullingText="Pull to refresh" refreshingSpinner="bubbles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <no-results *ngIf="!loadedEvents.length" icon="calendar" text="No Events found"></no-results>
  <ion-list #eventList>
    <ion-item *ngFor="let event of loadedEvents" (click)="viewEvent(event)" [ngClass]="getClass(event)">
      <div class="calendar">
        <div class="month">{{ event.EventStartDate | date:'MMM/yy' }}</div>
        <h1>{{ event.EventStartDate | date:'d' }}</h1>
        <p>{{ event.EventStartDate | date:'EEE' }}</p>
      </div>
      <div class="event-content">
        <h2>{{ event.Name }}</h2>
        <p class="event-location">In <span>{{ event.EventVenue || 'Online'}}</span></p>
        <p *ngIf="event.ParticipationCount"> Participants: {{event.RegisteredParticipants || 0 }} / {{ event.ParticipationCount || 0}}</p>
      </div>
      <div class="progress-bar">
        <div progress-bar [value]="event.RegisteredParticipants" [total]="event.ParticipationCount">
        </div>
      </div>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadEvents($event)" *ngIf="(!reachedMaxLimit)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
