moderator-list,
page-event-list,
page-event-moderator-list {
  div.event-day {
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: -10px;
  }

  div.time {
    display: inline-block;
    float: left;
    border-right: 1px dashed lighten(color($colors, dark), 65%);
    padding: 25px 15px 5px 3px;
    margin-right: 15px;
    width: 90px;
    color: #000000 !important;
    text-align: left;
  }

  div.event-day {
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: -10px;
  }

  .event-location {
    color: lighten(color($colors, dark), 20%);
  }

  .event-location span {
    padding: 2px 0 0 2px;
    display: inline-block;
    color: color($colors, primary);
    border-radius: 3px;
  }

  .progress-bar {
    height: 5px !important;
    background-color: darken(color($colors, light), 10%);
    display: inline-block;
    width: 150px;
    margin-top: 3px;
    position: absolute;
    border-radius: 5px;
    overflow: hidden;
  }

  .progress-bar div {
    height: 5px;
    color: white;
    -webkit-transition: width 1s ease-out;
    -moz-transition: width 1s ease-out;
    -o-transition: width 1s ease-out;
    transition: width 1s ease-out;
  }

  .past-event {
    .calendar {
      border: 2px solid #dedede !important;

      .month {
        background-color: #999 !important;
      }
    }
  }
}
