<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{'Feedbacks'}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="block-element" *ngIf="this.group">
    <h2 class="centerText">Ratings</h2>
    <div>
      <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" chartType="doughnut"></canvas>
    </div>
  </div>
  <div *ngIf="feedbacks">
    <h2 class="centerText">Feedbacks</h2>
    <ion-card *ngFor="let feedback of feedbacks; let i = index;">
      <ion-card-content>
        <ion-list>
          <ion-item style="padding-left: 0px;">
              <ion-avatar item-left *ngIf="feedback">
                <img [src]="feedback.picture ? feedback.picture : 'assets/img/user.png'" />
              </ion-avatar>
              <p class="moment-ago">
                <moment-ago [timeStamp]="feedback.createdDate"> </moment-ago>
               </p>
              <h2 *ngIf="feedback" class="username">{{feedback.name || feedback.uid}} </h2>
              <div class="ratings">
                <span *ngFor="let rating of maxRating">
                    <ion-icon [name]="'star'" *ngIf=" rating < feedback.rating"></ion-icon>
                </span>
                <span *ngFor="let rating of maxRating">
                    <ion-icon [name]="'star-outline'" *ngIf="rating >= feedback.rating"></ion-icon>
                </span>
              </div>
              <div class="feedback-data">
                <h4> {{feedback.message}} </h4>
              </div>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
