<ion-header>
  <ion-navbar color="primary" *ngIf="hideSearchBar">
    <ion-buttons left>
      <button ion-button menuToggle="left">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>My Events</ion-title>
    <ion-buttons end *ngIf="uid">
      <!-- <button ion-button icon-only (click)="toggleNavBar()">
      <ion-icon name="search"></ion-icon>
    </button> -->
      <!-- <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="ios-funnel-outline"></ion-icon>
      </button> -->
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar>
    <ion-segment [(ngModel)]="segment" color="primary" (ionChange)="getCurrentEvents($event)">
      <ion-segment-button value="live">
        Upcoming
      </ion-segment-button>
      <ion-segment-button value="past">
        Past
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-navbar color="primary" hideBackButton="true" *ngIf="!hideSearchBar">
    <ion-searchbar [(ngModel)]="query" autocomplete="on" showCancelButton="true" placeholder="Search" color="primary" (ionClear)="onIonClear()" (ionInput)="onInput()"></ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <no-results *ngIf="!events.length && uid" icon="calendar" text="No Events found"></no-results>
  <no-results *ngIf="!uid" icon="ios-alert-outline" text="Login to see your Events"></no-results>
  <!-- <ion-list>
    <single-event [params]="event" *ngFor="let event of events | search : query : filterKeys"></single-event>
  </ion-list> -->
  <ion-list class="agenda-view">
    <div *ngFor="let month of _.keys(groupByMonth(events))">
      <ion-item-divider class="divider-text" sticky>
        {{ month }}
      </ion-item-divider>
      <ion-item *ngFor="let day of _.keys(groupByDate(groupByMonth(events)[month]))" class="event-group">
        <div class="date-container">
          <div class="date"> {{ moment(day).format('DD') }} </div>
          <div class="day"> {{ moment(day).format('ddd') }} </div>
        </div>
        <div class="event-container">
          <single-event-new [params]="event" *ngFor="let event of groupByDate(events)[day]"></single-event-new>
        </div>
      </ion-item>
    </div>
  </ion-list>
</ion-content>