page-user-management {
  .danger-background {
    background-color: color($colors, danger) !important;
  }

  .light-background {
    background-color: color($colors, favorite) !important;
  }

  .align-center {
    text-align: -webkit-center !important;
  }

  ion-avatar {
    min-height: 75px !important;
  }

  ion-avatar img {
    width: 65px !important;
    height: 65px !important;
  }
}
