<div>
  <ion-list *ngIf="this.isFeedbackExists">
    <ion-item class="no-padding border-top text-center">
      <div class="ratingStars">
        <span *ngFor="let icon of icons;let i=index">
        <ion-icon [name]="icon"></ion-icon>
      </span>
      </div>
      <div class="total-votes">
        <span class="dash-line-left"> </span> {{ this.totalVotes }} people voted
        <span class="dash-line-right"> </span>
      </div>
      <div class="self-rating" *ngIf="myFeedback">
        Your Rating: {{myFeedback.rating}}
      </div>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="!this.isFeedbackExists && args.ratingEnabled" [ngClass]="'feedback-block rating-stars grey rating-component ' + (isDisabled?'disabled':'')">
    <h3> Rate and review </h3>
    <p>Tell everyone about your experience</p>
    <div class="ratingStarsVote">
      <span *ngFor="let icon of icons;let i=index">
      <ion-icon [name]="'star-outline'" (click)="updateRateValue(i)"></ion-icon>
    </span>
    </div>
  </ion-list>
</div>
