<div *ngIf="!params.minifiedPost">
  <div padding>
    {{ post.caption ? post.caption : '' }}
  </div>
  <div class="container">
    <iframe *ngIf="post.youtubeUrl" class="video" [src]="post.youtubeUrl | youtube" frameborder="0"></iframe>
  </div>
</div>

<div *ngIf="params.minifiedPost">
  <span class="top-header-label">Video</span>
  <div class="left-container">
    <img [src]="youtubeThumbnail" alt="" *ngIf="youtubeThumbnail">
  </div>
  <div class="right-container">
    <p class="question">{{ post.caption }}</p>
  </div>
</div>
