.container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

youtube-post-component {
  [icon-only] ion-icon {
    font-size: 2.8em;
  }

  .right-container {
    float: right !important;
    display: inline;
    width: 50%;
    padding-left: 5px !important;
    padding-right: 5px !important;
  }

  .left-container {
    position: relative;
    float: left !important;
    width: 50% !important;
    padding: 0 0 !important;

    img {
      width: 100% !important;
      height: 125px !important;
    }
  }

  .left-container {
    margin-top: 0 !important;
  }

  .minified .question {
    font-size: 15px;
  }

  /deep/ span.top-header-label {
    background-color:#e33a2b;
  }

  .left-container:after {
    position: absolute;
    top: 0;
    font-family: "Ionicons";
    content: url(../assets/icon/youtube.png);
    left: 0;
    left: 0;
    width: 100%;
    top: 30%;
    font-size:3.0em;
    margin: inherit;
    display: block;
    width: 100%;
    text-align: center;
    height: 100%;
  }
}
