<ion-header>
  <ion-navbar color="primary">
    <ion-title>Validate OTP</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h2 class="title" padding>
    A verification code has been sent your email<br/>
  </h2>
  <div class="phoneNumber-btn">
    <button ion-button icon-left outline clear round large>
      <ion-icon name="mail"></ion-icon>
        {{user.email}}
    </button>
  </div>

  <form #otpForm="ngForm" novalidate>
    <ion-item class="otp-container">
      <ion-label color="primary" stacked>Enter OTP</ion-label>
      <ion-input [(ngModel)]="user.otp" name="otp" type="number" minlength="4" maxlength="4" required placeholder="_ _ _ _">
      </ion-input>
    </ion-item>
    <div padding>
      <button ion-button color="primary" [disabled]="otpForm.invalid" (click)="validateOtp(otpForm)" type="submit" block>Validate</button>
    </div>
  </form>
</ion-content>
<ion-footer *ngIf="showFooter">
  <ion-toolbar color="primary" padding>
    <button ion-button round color="white" outline (click)="resendOtp()">Resend OTP</button>
  </ion-toolbar>
</ion-footer>
