<ion-header>
  <ion-navbar hideBackButton="true" color="primary">
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Users
    </ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-searchbar [(ngModel)]="query" autocomplete="on" showCancelButton="true" placeholder="Search"></ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content class="outer-content">
  <ion-list>
    <ion-item *ngFor="let user of users | search : query : filterKeys" [hidden]="uid == user.uid" (click)="openModal(user.uid)">
      <ion-avatar item-left>
        <img [src]="user.picture ?user.picture: 'assets/img/user.png'"/>
      </ion-avatar>
      <span>{{user.firstName}} {{user.lastName}}</span>
      <button ion-button outline item-right *ngIf="user.roleValue == 99" color="secondary">Admin</button>
      <button ion-button outline item-right *ngIf="user.roleValue == 20">Moderator</button>
    </ion-item>
  </ion-list>
  <div class="spacer"></div>
</ion-content>
