component-image-gallery-post {
  .slide-zoom {
    text-align: -webkit-center !important;
  }

  ion-slide {
    overflow: hidden !important;
  }

  span.top-header-label {
    background-color: color($colors, facebook);
  }

  p {
    padding-left: 5px !important;
  }

  .left-container img {
    height: 135px !important;
  }

  .minified-slider .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
    bottom: 12vh;
  }
}
