<div *ngIf="isReady">
  <div padding>
    {{ post.caption ? post.caption : '' }}
  </div>
   <div>
    <div ion-item class="item-event-details calendar-background">
      <single-event [params]="this.post.session"></single-event> 
      <!-- <schedule-card [sessionData]="post.session"  [options]="{showDateLabel:true, showDetailsView: false}"></schedule-card> -->
    </div>
  </div>
</div>
