<ion-header>
  <ion-navbar color="primary">
    <ion-title>Verify Invite</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <form #loginForm="ngForm" novalidate>
      <ion-item>
        <ion-label color="primary" stacked class="required-input">Email</ion-label>
        <ion-input [(ngModel)]="user.email" name="email" type="email" required pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" stacked class="required-input">Invite Code</ion-label>
        <ion-input [(ngModel)]="user.code" name="code" minlength="4" maxlength="4" type="number" required></ion-input>
      </ion-item>
      <br/>
    </form>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button clear block color="primary" (click)="onSubmit()" [disabled]="loginForm.invalid">
      Continue
    </button>
  </ion-toolbar>
</ion-footer>
