<div padding>
  {{ post.caption ? post.caption : '' }}
</div>
<div class="container">
  <iframe *ngIf="post.youtubeUrl" class="video" [src]="post.youtubeUrl | youtube" frameborder="0"></iframe>
</div>
