<ion-header>
  <ion-navbar color="primary" *ngIf="hideSearchBar">
    <ion-buttons left>
      <button ion-button menuToggle="left">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <!-- <ion-buttons end (click)="toggleNavBar()">
      <button ion-button icon-only>
      <ion-icon name="search"></ion-icon>
    </button>
    </ion-buttons> -->
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

  <ion-navbar hideBackButton="true" color="primary" *ngIf="!hideSearchBar">
    <ion-searchbar [(ngModel)]="query" autocomplete="on" showCancelButton="true" (ionInput)="onInput($event)" (ionClear)="onIonClear()" placeholder="Search" color="primary" debounce="500" #searchBar></ion-searchbar>
  </ion-navbar>

  <!-- <ion-toolbar>
    <ion-segment [(ngModel)]="segment" color="primary" (ionChange)="updateList($event)">
      <ion-segment-button value="live">
        Upcoming
      </ion-segment-button>
      <ion-segment-button value="past">
        PAST
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar> -->

</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="init($event)" *ngIf="!query">
    <ion-refresher-content pullingIcon="arrow-round-down" pullingText="Pull to refresh" refreshingSpinner="bubbles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <no-results *ngIf="!loadedEvents.length" icon="calendar" text="No Events found"></no-results>
  <ion-list #eventList class="agenda-view">

    <div *ngFor="let month of _.keys(groupByMonth(loadedEvents))">
      <ion-item-divider class="divider-text" sticky>
        {{(groupByMonth(loadedEvents))}}
        <!-- {{ moment(month).format('MMMM YYYY') }} {{moment(month)}} {{month}} -->
      </ion-item-divider>
      <ion-item *ngFor="let day of _.keys(groupByDate(groupByMonth(loadedEvents)[month]))" class="event-group">
        <div class="date-container">
          <div class="date"> {{ moment(day).format('DD') }} </div>
          <div class="day"> {{ moment(day).format('ddd') }} </div>
        </div>
        <div class="event-container">
          <div class="event-box" *ngFor="let event of groupByDate(loadedEvents)[day]" (tap)="viewEvent(event)">
            <div class="event-timings"> {{ moment(event.EventStartDate).format('hh:mm A') }} - {{ moment(event.EventEndDate).format('hh:mm A') }} </div>
            <div class="event-name"> {{ event.Name }} </div>
            <div class="event-venue"> {{ event.EventVenue || 'Online' }} </div>
          </div>
        </div>
      </ion-item>
    </div>

  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadEvents($event)" *ngIf="(!reachedMaxLimit)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>