<ion-card (click)="viewLocation()">
  <img [src]="mapUrl ? mapUrl : assets/img/map-card.png">
  <ion-item>
    <ion-icon name="pin" item-left large></ion-icon>
    <h2 color="primary">{{ venue }}</h2>
  </ion-item>
</ion-card>
