<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button (click)="submit()" color="primary"> Submit </button>
    </ion-buttons>
    <ion-title>
      Feedback
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content text-center>
  <ion-list class="top-margin-10">
    <ion-item no-lines *ngIf="user">
      <ion-avatar item-left *ngIf="username" class="avatar">
        <text-avatar [text]="username" class="float-left"> </text-avatar>
      </ion-avatar>
      <h3 class="username"> {{ username }} </h3>
    </ion-item>

    <ion-item no-lines>
      <div class="rating-stars">
        <span *ngFor="let icon of icons;let i=index">
          <ion-icon [name]="icon" (click)="updateRateValue(i)"></ion-icon>
        </span>
      </div>
    </ion-item>

    <ion-item>
      <ion-textarea mode="md" [(ngModel)]="this.message" rows='3' [placeholder]="placeholder" autofocus></ion-textarea>
    </ion-item>

  </ion-list>
</ion-content>