post-card{
  .customCardItem{
    max-height: 60px !important;
  }
  ion-icon.icon.icon-md.ion-md-time {
      margin-right: 2px;
  }
  moment-ago {
      margin-left: 4px;
  }
  ion-badge.badge.badge-md {
    float: right;
  }

  ion-col{
    margin-bottom: 0px !important;
  }
}
