page-send-notifications{
  .center {
    order: 3;
    margin-left: 10%;
    margin-top: -33px;
  }

  .no-scroll .scroll-content {
    overflow: hidden;
  }

  .ion-buttons[start] {
    order: 2;
    margin-top: 8px;
  }

  .back-button {
    display: block;
  }
}
