page-event-detail {
  .event-date {
    padding-bottom: 10px !important;
    font-size: 1.2em;
  }

  .event-title {
    background-color: (color($colors, primary));
    color: white;
  }

  .ticket-container {
    float: right !important;
  }

  .event-icon {
    font-size: 3.7em !important;
    width: 50px;
  }

  .bold-font {
    font-weight: 500;
    font-size: 14px !important;
  }

  .event-container {
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .total, .attended {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex: 1 1 auto;
    width: 50%;
    .block-width{
      text-align: center !important;
      width: 70px !important;
    }
    *{
      text-align: center;
    }
  }

  .total{
    border-right: 1px solid #ddd;
  }

  ion-card img {
    height: 180px;
  }

  .event-container::after {
    content: '';
    clear: both;
    display: block;
  }

  .left-div,
  .right-div {
    float: left;
  }

  .event-text {
    vertical-align: top;
    display: block;
    width: 200px;
  }

  .progress-bar div {
    background-color: lighten(color($colors, secondary), 10%);
    height: 40px;
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    display: inline-block;
    -webkit-transition: width 1s ease-out;
    -moz-transition: width 1s ease-out;
    -o-transition: width 1s ease-out;
    transition: width 1s ease-out;
  }

  .progress-bar-data .number {
    color: white;
    padding: 7px 5px 0;
    font-weight: bold;
    font-size: 1.3em;
    display: inline-block !important;
  }

  .progress-bar,
  .progress-bar-data {
    height: 40px !important;
    background-color: lighten(color($colors, dark), 50%);
  }

  .progress-bar-data {
    margin-top: -40px;
    z-index: 1000;
    padding: 0 !important;
  }

  .progress-label {
    font-size: 12px;
    height: 40px;
    display: inline-block;
    margin: 0;
    width: auto;
    color: white;
    padding: 5px !important;
  }

  .checkedIn-value,
  .total-value {
    width: 50%;
    height: 40px !important;
    display: inline-block;
  }

  .checkedIn-value .number {
    float: left;
  }

  .total-value .number {
    float: right;
  }

  .checkedIn-value {
    padding-left: 10px;
    text-align: left;
  }

  .total-value {
    text-align: right;
    padding-right: 10px;
  }

  .event-details {
    p {
      margin: 0;
    }

    h3 {
      margin: 10px auto !important;
    }
  }

  .attendence {
    overflow: hidden;
    border-bottom: 1px solid #dedede;
    border-top: 1px solid #dedede;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 0 10px;
  }

  .event-card {
    border-bottom: 1px solid rgba(153, 153, 153, 0.55);
  }

  .event-container div {
    width: 50%;
  }

  h4 {
    margin: 0;
    font-size: 2.5em;
    text-align: left;
  }

  .block-width {
    width: 50px !important;
  }

  h2 {
    white-space: normal;
  }

  .participants-list ion-label {
    margin: 0;
  }

  .participants-list ion-icon {
    font-size: 2em;
    float: right;
  }

  .status-button {
    float: right;
  }

  .scroll-content {
    overflow-y: visible;
  }

  .participants-list {
    @media(max-width:600px) {
      ion-scroll {
        height: 41.2vh !important;
      }
    }
    @media(min-width:600px) {
      ion-scroll {
        height: 35vh !important;
      }
    }
  }

  .moderator-list ion-scroll {
    height: 43vh !important;
  }

  ion-segment-button.segment-button {
    background-color: color($colors, light);
  }

  label {
    margin-left: 5px;
    color: white!important;
  }

  ion-item.item.item-block {
    border-bottom: 1px solid lightgrey;
  }

  ion-row {
    padding: 2px;
  }

  ion-footer button {
    background-color: rgba(158, 158, 158, 0);
  }

  ion-footer {
    background-color: #699df7;
  }

  .alert-controller {
    max-height: 50vh !important;
  }
}

.toast-error-message,
.toast-success-message {
  .toast-wrapper {
    background-color: none !important;
  }

  .toast-container {
    background-color: color($colors, danger) !important;
    box-shadow: 0 5px 10px rgba(0,0,0,0.25);
  }

  .toast-container:before {
    content: "\f19f";
    width: 50px;
    height: 50px;
    display: inline-block;
    font-family: "Ionicons";
    font-size: 3em;
    color: #fff;
    text-align: center;
  }

  .toast-message {
    font-size: 1.5em;
  }
}

.toast-success-message {
  .toast-container {
    background-color: color($colors, secondary) !important;
  }

  .toast-container:before {
    content: "\f149";
  }
}
