<ion-header>
  <ion-navbar color="primary">
    <ion-title>Contact Details</ion-title>
  </ion-navbar>

</ion-header>

<ion-content *ngIf="speaker">
  <ion-list>
    <ion-item>
      <div class="event-content">
        <h1 color="primary">{{ speaker.Name }}</h1>
        <h2>{{ speaker.Email }}</h2>
      </div>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header color="light">
      Events
    </ion-list-header>
    <single-event [params]="allEvents[speakerEventId]" *ngFor="let speakerEventId of speakerEventIds"></single-event>
  </ion-list>
</ion-content>